* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
  list-style: none;
}
.nav {
  width: 100%;
  background-color: #7a6ad8;
  border-radius: 0px 0px 25px 25px;
  height: 100px;
  display: flex;
  align-items: center;
  position: fixed;
  top: 0;
  z-index: 100;
  justify-content: center;
}
.nav .navbar {
  display: flex;
  justify-content: center;
  align-items: center;
}

.nav h1 {
  color: white;
  border-right: 1px solid rgba(250, 250, 250, 0.3);
  padding: 10px;
  margin: 10px;
  font-size: 36px;
}
.search {
  display: flex;
  justify-content: center;
  align-items: center;
}
.search input {
  height: 44px;
  border: none;
  border-radius: 23px;
  padding: 0 20px 0;
  color: #fff;
  background-color: rgba(255, 255, 255, 0.1);
}
.search i {
  color: white;
  position: relative;
  right: 30px;
}
.search input::placeholder {
  color: white;
  opacity: 0.6;
}

.top-header {
  background-image: url(./img/banner-bg.jpg);
  background-size: 100% 80%;
  background-repeat: no-repeat;
  height: 120vh;
}
.navbar ul {
  display: flex;
  float: right;
  margin-right: 20px;
}
.navbar ul li {
  /* list-style: none; */
  display: inline-block;
}
.navbar li a {
  font-weight: 300;
  font-size: 14px;
  color: white;
  /* margin: 15px; */
  padding: 10px;
  border-radius: 20px;
  text-decoration: none;
}
a.active,
a:hover {
  background-color: rgba(255, 255, 255, 0.1);
  opacity: 0.8;
  transition: 0.5s;
  cursor: pointer;
}
.home {
  display: flex;
  justify-content: center;
  margin-top: 40px;
}
.item {
  background-image: url("./img/banner-item-01.jpg");
  display: flex;
  flex-direction: column;
  background-repeat: no-repeat;
  background-position: center center;
  border-radius: 25px;
  padding: 50px 50px;
  width: 900px;
  margin-top: 80px;
}
.item span {
  color: white;
  background-color: #7a6ad8;
  border-radius: 20px;
  padding: 5px 15px;
  width: 150px;
  font-size: 14px;
  margin-bottom: 20px;
  display: inline-block;
}
.item h2 {
  color: white;
  font-size: 48px;
  line-height: 70px;
  margin-bottom: 40px;
}
.item p {
  color: white;
  width: 400px;
  line-height: 40px;
}
.btn a {
  padding: 0 25px;
  background-color: white;
  color: #7a6ad8;
  border: none;
  border-radius: 25px;
  text-decoration: none;
  line-height: 40px;
  display: inline-block;
  margin-top: 20px;
}
.services {
  margin-top: 80px;
}
.services .services-section {
  display: flex;
  justify-content: center;
}
.services-section .services-col {
  position: relative;
}

.services .content {
  background-color: #f1f0fe;
  margin-bottom: 30px;
  border-radius: 25px;
  margin-right: 80px;
  padding: 80px 30px 50px 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.content .btn a:hover {
  color: white;
  background-color: #7a6ad8;
}
.img {
  width: 190px;
  height: 190px;
  border-radius: 50%;
  border: none;
  background-color: #7a6ad8;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: -110px;
  right: 0px;
}
/* .img:hover {
  position: relative;
  bottom: 5px;
} */
.content h4 {
  font-size: 22px;
  font-weight: bold;
  line-height: 30px;
  margin-bottom: 15px;
}
.content p {
  color: #4a4a4a;
  margin-bottom: 25px;
  line-height: 30px;
}
.about-section {
  display: flex;
  justify-content: flex-end;
}
.accordion {
  padding: 80px 50px 50px 50px;
  background-color: #7a6ad8;
  border-radius: 40px;
  width: 500px;
  height: 400px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.accordion .accordion-section {
  background-color: white;
  margin: 10px;
  padding: 15px;
  border-radius: 40px;
  width: 80%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.accordion-section h4 {
  font-weight: bold;
  font-size: 15px;
}
.accordion-section button {
  border-radius: 50%;
  background-color: #7a6ad8;
  color: white;
  border: none;
  cursor: pointer;
  display: inline-block;
  width: 30px;
  height: 30px;
  font-size: 18px;
  text-align: center;
  font-weight: 500;
}
.about {
  background-color: #f1f0fe;
  width: 50%;
  height: 400px;
  text-align: center;
}
.about-content {
  margin-top: 20px;
}
.about-content h6 {
  color: #7a6ad8;
  font-size: 14px;
  font-weight: bold;
  text-transform: uppercase;
}
.about-content h2 {
  font-size: 36px;
  font-weight: bold;
  text-transform: capitalize;
  margin: 20px 0;
  line-height: 44px;
}
.about-content p {
  line-height: 28px;
  font-size: 14px;
  color: #4a4a4a;
  text-align: center;
}
.main {
  margin-top: 20px;
}
.about .main a {
  color: #7a6ad8;
  border-radius: 20px;
  padding: 0px 25px;
  background-color: white;
  text-decoration: none;
  display: inline-block;
  line-height: 40px;
}

/* courses section */
.courses {
  margin-top: 60px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.courses .courses-section h6 {
  text-transform: uppercase;
  font-size: 14px;
  color: #7a6ad8;
  font-weight: bold;
  text-align: center;
}
.courses .courses-section h2 {
  font-size: 36px;
  line-height: 44px;
  margin: 20px 0;
  font-weight: bold;
  text-align: center;
}
.events {
  background-color: #f1f0fe;
  border-radius: 50px;
  max-width: max-content;
}
.events ul {
  display: flex;
  /* list-style: none; */
  justify-content: center;
  align-items: center;
  padding: 20px;
}
.events ul li a {
  text-decoration: none;
  margin: 15px;
  color: black;
  font-size: 15px;
  font-weight: 400;
  transition: all 0.3s;
}
.events ul li a:hover {
  color: #7a6ad8;
}

.events-info {
  margin-top: 10px;
  border-radius: 25px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-row-gap: 20px;
  grid-column-gap: 20px;
}

.event-info img {
  width: 300px;
  height: 300px;
}
.event-info {
  background-color: #f1f0fe;
  border-radius: 25px;
}
.events-img {
  position: relative;
  /* border: 1px solid; */
}
.events-info .events-img img {
  border-radius: 25px;
}
.events-img span {
  position: absolute;
  top: 30px;
  left: 20px;
  background-color: #fff;
  color: #7a6ad8;
  border-radius: 25px;
  font-size: 14px;
  text-transform: uppercase;
  padding: 10px;
  font-weight: bold;
}
.events-content {
  display: flex;
  flex-direction: column;
  padding: 20px;
}
.events-content span {
  color: #7a6ad8;
  font-size: 16px;
  display: inline-block;
  margin-top: 10px;
  font-weight: 400;
}
.price {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #7a6ad8;
  border-radius: 50%;
  width: 100px;
  height: 100px;
}
.price span {
  color: white;
}
.events-content h4 {
  font-size: 22px;
  font-weight: bold;
  transition: all 0.3s;
  text-transform: capitalize;
}
.events-content h4:hover {
  color: #7a6ad8;
}
.container {
  width: 85%;
  margin: 0 auto;
}

.counts {
  width: 800px;
  height: 200px;
  background-image: url(./img/banner-bg.jpg);
  border-radius: 0 100px 100px 0;
  margin: 60px 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
.count {
  display: flex;
  flex-direction: column;
  margin: 10px;
  align-items: center;
}
.counts .count h2 {
  font-size: 48px;
  color: white;
}
.count h4 {
  color: white;
  font-size: 15px;
  font-weight: bold;
}

/* team section */
.teams {
  display: flex;
  justify-content: space-evenly;
  /* min-height: 100vh; */
}
.team {
  background-color: #f1f0fe;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 25px;
}
.member-content span {
  font-size: 15px;
  color: #7a6ad8;
}
.member-content h4 {
  font-size: 22px;
  font-weight: bold;
  margin-top: 10px;
}
.member-content ul {
  display: flex;
  justify-content: space-evenly;
}
.member-img img {
  border-radius: 50%;
}
.member-content {
  text-align: center;
}
.member-content ul li {
  /* list-style: none; */
  margin: 2px;
}
.member-content ul li a {
  text-decoration: none;
  border-radius: 50%;
  background-color: white;
  padding: 5px;
  color: #7a6ad8;
}

.team-about {
  margin-top: 40px;
  display: flex;
  /* justify-content: flex-end; */
  align-items: center;
  position: relative;
  min-height: 100vh;
}

.team-item {
  background-color: #7a6ad8;
  border-radius: 25px;
  padding: 15px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 50%;
}
.team-item p {
  font-size: 18px;
  line-height: 40px;
  color: white;
  margin-bottom: 30px;
  text-align: center;
}
.author-img img {
  border-radius: 50%;
  margin-right: 20px;
}
.author {
  display: flex;
  align-items: center;
}
.author-about span {
  color: white;
  font-size: 15px;
  display: inline-block;
}
.author-about h4 {
  color: white;
  font-weight: bold;
  margin-top: 8px;
  font-size: 22px;
}
.testimonials {
  width: 70%;
  background-color: #f1f0fe;
  border-radius: 30% 0 0 30%;
  position: absolute;
  height: 70%;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  z-index: -1;
}
.testimonials .testimonial-about {
  margin-left: 60px;
  height: 400px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.testimonial-about h6 {
  color: #7a6ad8;
  font-size: 14px;
  font-weight: 600;
  margin-bottom: 20px;
}
.testimonial-about h2 {
  font-size: 36px;
  font-weight: bold;
  line-height: 44px;
}
.testimonial-about p {
  color: #4a4a4a;
  line-height: 28px;
  font-size: 14px;
  margin-top: 30px;
}

/* event section */

.events-coming {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.events-coming .event-header {
  text-align: center;
}
.event-header h6 {
  color: #7a6ad8;
  font-size: 14px;
  font-weight: 600;
}
.event-header h2 {
  font-size: 36px;
  font-weight: 600;
  text-transform: capitalize;
  margin: 20px 0;
  line-height: 44px;
}
.events-item {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.event-item {
  background-color: #f1f0fe;
  border-radius: 25px;
  position: relative;
  padding: 40px;
  display: flex;
  height: 180px;
  width: 80vw;
  margin-bottom: 80px;
}
.event-item .event-text {
  width: 40%;
}
.event-item .event-img img {
  position: relative;
  bottom: 60px;
  border-radius: 25px;
  margin-right: 20px;
}
.event-item .event-data ul {
  display: flex;
  justify-content: space-between;
  /* width: 50vw; */
}
.event-date {
  display: flex;
  width: 100%;
  justify-content: space-between;
}
.event-date li {
  margin: 20px;
}
.event-data .category {
  font-size: 14px;
  text-transform: uppercase;
  color: rgb(122, 106, 216);
  background-color: rgb(255, 255, 255);
  padding: 8px 20px;
  border-radius: 25px;
  font-weight: bold;
  display: inline-block;
  margin-bottom: 20px;
}
.event-data ul li h4 {
  font-size: 22px;
  font-weight: 600;
  width: 200px;
}
.event-data ul li h6 {
  font-size: 16px;
  color: rgb(122, 106, 216);
  font-weight: 600;
}
.event-data ul li span {
  display: inline-block;
  font-size: 14px;
  color: rgb(74, 74, 74);
  margin-bottom: 10px;
}

/* register section */

.register {
  display: flex;
  position: relative;
  min-height: 100vh;
}
.register-offer {
  background-color: rgb(241, 240, 254);
  border-radius: 0 200px 200px 0;
  width: 60%;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

.register-offer .contact h6 {
  color: #7a6ad8;
  font-size: 14px;
  font-weight: 600;
}
.register-offer .contact h2 {
  font-size: 36px;
  font-weight: 600;
  text-transform: capitalize;
  margin: 20px 0;
  line-height: 44px;
}
.register-offer .contact p {
  font-size: 14px;
  line-height: 28px;
  color: #4a4a4a;
}
.sales {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 50px;
  background-color: #fff;
  border-radius: 25px;
  width: 60%;
}
.sales .special-offer span {
  background-color: #7a6ad8;
  width: 80px;
  padding: 30px 8px;
  line-height: 25px;
  height: 120px;
  border-radius: 15px 60px 60px 15px;
  display: inline-block;
  color: #fff;
  font-size: 16px;
  text-align: left;
}
.sales .icon a {
  padding-right: 20px;
}
.sales .icon a i {
  width: 50px;
  height: 50px;
  display: inline-block;
  text-align: center;
  line-height: 50px;
  background-color: #7a6ad8;
  color: #fff;
  border-radius: 50%;
}
.form {
  background-image: url(./img/banner-bg.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 25px;
  display: flex;
  align-items: center;
  position: absolute;
  right: 110px;
  top: 40px;
  height: 80%;
  width: 40%;
}
.form form {
  display: flex;
  flex-direction: column;
  width: 450px;
  align-items: center;
  justify-content: center;
}
.form form input {
  width: 80%;
  height: 50px;
  border-radius: 25px;
  background-color: rgba(249, 235, 255, 0.15);
  border: none;
  outline: none;
  font-weight: 300;
  padding: 0px 20px;
  font-size: 14px;
  color: #fff;
  margin: 15px 0;
}
form input::placeholder {
  color: white;
}
.form form textarea {
  width: 80%;
  height: 50px;
  border-radius: 25px;
  background-color: rgba(249, 235, 255, 0.15);
  border: none;
  outline: none;
  font-weight: 300;
  padding: 10px 20px;
  font-size: 14px;
  color: #fff;
  margin: 15px 0;
}
form textarea::placeholder {
  color: white;
}
.form form button {
  border: none;
  height: 50px;
  font-size: 14px;
  font-weight: 600;
  background-color: #fff;
  padding: 0px 25px;
  border-radius: 25px;
  color: #7a6ad8;
  transition: all 0.4s;
}
form button:hover {
  cursor: pointer;
  opacity: 0.6;
}
.footer {
  background-image: url(./img/banner-bg.jpg);
  margin-top: 150px;
  position: relative;
  background-color: #7a6ad8;
  min-height: 150px;
  border-radius: 150px 150px 0px 0px;
}
.footer p {
  text-align: center;
  line-height: 150px;
  color: #fff;
  font-weight: 400;
}
.footer p a {
  color: #fff;
  transition: all 0.3s;
  text-decoration: none;
}

@media screen and (max-width: 960px) {
  .search {
    display: none;
  }
  .events-info {
    grid-template-columns: repeat(2, 1fr);
  }
  .teams {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
  }
  .counts {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
  .services .services-section {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
  .services-section .services-col {
    width: 80%;
    margin-top: 80px;
  }
  .about-section {
    flex-direction: column;
    align-items: center;
  }

  /*  team section */
  .team-about {
    flex-direction: column;
  }
  .team-item {
    width: 100%;
  }
  .testimonials {
    width: 100%;
    border-radius: 0;
    z-index: 0;
    position: relative;
    top: 200px;
  }

  /* events section */

  .events-item {
    display: grid;
    grid-gap: 20px;
    grid-template-columns: repeat(2, 1fr);
  }
  .event-item {
    display: flex;
    flex-direction: column;
    height: 480px;
    width: 350px;
    align-items: center;
  }
  .event-item .event-img img {
    width: 200px;
    height: 200px;
  }
  .event-data ul {
    display: flex;
    flex-direction: column;
  }
  .event-data .event-text {
    border-bottom: 1px solid #ddd;
    width: 100%;
    padding-bottom: 30px;
  }

  /* register section */
  .register .register-offer {
    width: 100%;
    background-color: white;
  }
  .register .form {
    position: relative;
    bottom: 0;
  }
}
